<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">

    <meta charset="UTF-8">

</head>

<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <nav>
                    <a href="#">Principal</a>
                    <a href="#">Biblioteca</a>
                    <a href="#">Noticias</a>
                    <a href="#">Ayuda</a>

                </nav>
            </div>
        </div>

        <section class="banner contenedor">
            <div class="banner_title">
                <h2>HAS INICIADO SECIÓN CORRECTAMENTE</h2>
                <br>
                <button (click)="salir()">Cerrar seción</button>
            </div>
        </section>


    </header>
</body>

</html>